
<h2>Designer Notes</h2>

<p>
<b> Introduction </b>

<p>
Fantasy is the most overdone genre in the world of RPGs.

<p>
I designed <b>Ruins & Raiders</b> because my system and setting tastes are unusual.
I want a fantasy game that is in the middle of the great RPG debates.

<p>
Goals for the system:

<ul>
    <li> A balance between realism and heroism </li>
    <li> A balance between roleplaying and hack-n-slash</li>
    <li> Simple character generation, but a wealth of possible characters</li>
    <li> Mechanics that are easy to learn </li>
    <li> Meaningful tactical options - but only for those who want them</li>
    <li> Minimal bookkeeping</li>
</ul>

<p>
In my eyes, combining the above makes a fun game.

<p>
The mechanics are unoriginal.
R&R takes elements from the Hero System, West End Games's classic d6 system, Dungeons &amp; Dragons, GURPS, Fudge, and many others.

<p>
<b> Character Generation </b>

<p>
The costs of traits increase with level to prevent munchkins from placing all their points
into a single ability.  Such characters are gods at one thing and useless at all else.
The system is designed to discourage this.

<p>
The exponential increases also allow traits to be open-ended without fear that someone
will have a Brawn of 700.

<p>
This cost scheme also means that it is painless for a character to gain a small amount of
any trait.  Mastery, on the other hand, requires dedication.

<p>
Skills are broad for the sake of simplicity.  I have tried to group different abilities
together under single traits in ways that make sense.  Characters are less customizable
than in games with hundreds of skills, but I think the ease of character building is
worth the trade.  Chargen is simpler with a small number of broad skills than with a large
number of narrow ones.

<p>
The skill list focuses on adventuring abilities; trade skills are abstracted.
I did this so that talented craftsmen and scholars can compete in the adventuring arena.
All craft skills, from blacksmithing to shoemaking, are considered part of a single trait:
Artisan.  All academic skills are considered part of Scholar.
This is unrealistic, but I think it's fun.

<p>
This is meant primarily for player characters - most NPCs will be specialists with professions
like Farmer or Carpenter.

<p>
Skills can be added.  If a player wants their character to have Singer or Sailor as
a profession, let it be done.

<p>
The decision to leave out traits and skills related to social dynamics was deliberate.
I prefer for such situations to be resolved through roleplaying rather than dice.
If you want to be beautiful and dashing, fine.
If you would rather be ugly and scary, good.
There are advantages and disadvantages to both.

<p>
Gifts exist to add arbitrary rules and abilities to the game.  One could add a gift called
Bondage that allows one to control minds with a Willpower roll or a gift called Illusion that
lets one do damage with a Perception roll.  Taken to the extreme, one could even use gifts
to emulate magic systems like those found in other games, where every spell is a rule unto itself.

<p>
An expensive Gift is required to prevent every character from having the ability.

<p>
Fortune is like a combination of drama points, hit points, and mana.
It's an abstract resource that exists purely for game purposes.
I think it's fun.

<p>
<b> System Mechanics </b>

<p>
The mechanics are meant to be easy to learn and simple to execute, yet powerful in possibility.

<p>
Goals:

<ul>
    <li> A single core mechanic </li>
    <li> Fast resolution</li>
    <li> Enough randomness to make the game gripping, but not so much that trait levels don't matter</li>
    <li> Optional details for tactics and sorcery</li>
</ul>

<p>
The game uses rolls of 2d6 + Trait as the core mechanic.  The probability distribution looks like this:

<table border="1" cellpadding="6">
    <tr>                <th>  x </th> <th> p(roll = x) </th> <th> p(roll &gt;= x)  </th> </tr>
    <tr align="center"> <td>  2 </td> <td> 0.028       </td> <td>  1.000           </td> </tr>
    <tr align="center"> <td>  3 </td> <td> 0.056       </td> <td>  0.972           </td> </tr>
    <tr align="center"> <td>  4 </td> <td> 0.083       </td> <td>  0.917           </td> </tr>
    <tr align="center"> <td>  5 </td> <td> 0.111       </td> <td>  0.833           </td> </tr>
    <tr align="center"> <td>  6 </td> <td> 0.139       </td> <td>  0.722           </td> </tr>
    <tr align="center"> <td>  7 </td> <td> 0.167       </td> <td>  0.583           </td> </tr>
    <tr align="center"> <td>  8 </td> <td> 0.139       </td> <td>  0.417           </td> </tr>
    <tr align="center"> <td>  9 </td> <td> 0.111       </td> <td>  0.278           </td> </tr>
    <tr align="center"> <td> 10 </td> <td> 0.083       </td> <td>  0.167           </td> </tr>
    <tr align="center"> <td> 11 </td> <td> 0.056       </td> <td>  0.083           </td> </tr>
    <tr align="center"> <td> 12 </td> <td> 0.028       </td> <td>  0.028           </td> </tr>
</table>

<p>
On average, players should roll a 7 about 17 percent of the time.  45 percent of rolls
should fall between 6 and 8; 67 percent of rolls should fall between 5 and 9; 83 percent of
rolls should fall between 4 and 10.

<p>
The degree-of-success mechanic takes care of several things at once - there is no need for
damage rolls, hit locations, or techniques to allow a knife fighter to get through heavy armor.
It's all there in the mox.  It also means that trait checks are not just pass/fail; you get
information on the quality of the success or failure.

<p>
The system is unconcerned with the detailed differences between types of weapons and armor.
Players don't need to choose swords for tactical reasons if what they really want is
axe-wielding barbarians.  At the same time, a dagger shouldn't do the damage of a longsword;
daggers have other advantages (small, lightweight, throwable).
Therefore, the size of a weapon determines its benefits;  Players choose the characteristics
and cosmetics.

<p>
Random initiative adds some variety to the types of tactics possible in the game.
Players can create a samurai-like warrior by putting emphasis on aggressive initiative
and striking or a fencer who concentrates on fending off an opponent while seeking an opening.

<p>
Spellcasters ought to have options when casting a spell so that supernatural duels are as
exciting as physical ones.  Spell intensity, duration, area, and casting time should be flexible.
The rules are designed so that sorcerers may trade one for another in various ways.  This
will hopefully lead to interesting tactics.

<p>
Powerful sorcerers need not be strong or quick - those in stories are often old and feeble.
Thus, all of a sorcerer's abilities are based on his mind.  The ability to defy or deflect
spells without physically moving is part of this.

