
<h2> Gifts </h2>

<div>
<p>
Gifts are special abilities possessed by few.

<p>
Below is a list of possible gifts. It is not exhaustive.
Players may feel free to invent their own gifts, which The Adversary may then
feel free to deny.  The Adversary may add or drop gifts from the list to make it
fit the game world.

<p>
Gifts should not give bonuses to traits except in particular circumstances.
They can help to negate penalties in their domain of function, however.
</div>

<div style="padding-top: 1em">
<table>
    <tr> <th> Gift          </th> <th> Cost       </th> </tr>
    <tr> <td> Longevity     </td> <td> 10         </td> </tr>
    <tr> <td> Mage          </td> <td> 25         </td> </tr>
    <tr> <td> Mystic        </td> <td> 25         </td> </tr>
    <tr> <td> Sorcerer      </td> <td> 25         </td> </tr>
    <tr> <td> Starvision    </td> <td> 10         </td> </tr>
</table>
</div>

<div class="trait">
<b> Longevity </b>
<p>
The character ages at a slower rate than normal human beings.
The rate is at the discretion of the player and The Adversary.
One could even be virtually immortal.
</div>

<div class="trait">
<b> Mage </b>
<p>
This gift gives the character the ability to control the primal physical
forces of the world with his mind.  He can shape matter, energy, space, and
time with his Intellect. He can blast foes with fire or lightning from afar,
move things with telekinesis, and open holes in space.

<p>
More on this in the chapter <b>Spells</b>.
</div>

<div class="trait">
<b> Mystic </b>
<p>
Mystics have a supernatural empathic connection to life, nature, and the world.

<p>
Mystics can bless others, transferring their own Fortune to a willing subject.
She must touch the subject and concentrate for one round, performing no other actions.
The maximum amount one can transfer in one round is based on the mystic's Willpower.

<p>
A mystic may burn points of Fortune to heal wounds or shocks, theirs or another's.
She must touch the subject and concentrate for one round, performing no other actions.
The subject loses one wound or shock per point of Fortune spent.
The maximum amount one can transfer in one round is based on the mystic's Willpower.

<p>
If the mystic is unable or unwilling to expend Fortune, she may still heal by sacrificing
her own health or sanity.  She may heal one wound for each wound inflicted on herself or
one shock for each shock inflicted.

<p>
A mystic may feel the emotions of nearby creatures with a successful Intuition check vs
the Defiance of the subject.  Touching the target gives a +3.

<p>
Mystics can communicate with animals on a primal level. The mystic can, via touch or close
eye contact, get a feel for where the animal has been, what it's been doing, and what it's
seen and heard.  If the animal is friendly, the mystic can communicate what it would like
the animal to do. Whether it obeys is up to the animal.

<p>
Finally, mystics can commune with nature. This requires the mystic to meditate for at
least one hour. The mystic will receive a gestalt of viewpoints from every living creature,
of animal intelligence, in an area whose radius in km equals the mystic's Willpower.
Expending fortune can extend this range by 1km per point.

<p>
Communing allows the character to make an Intuition roll to find anything they might be
looking for in the area, with the challenge level based on how difficult said thing is to
locate (the more living things in the area, the better the odds). If successful, they
receive a vision of the subject and a general idea of its location.

<p>
A communing character may also choose to focus on the viewpoint of one particular creature
in the area, if desired. The mystic will experience the animal's experience.

<p>
Powerful mystics may even influence the weather, in this state. After each hour of meditation,
the mystic may roll Intuition against a challenge of 15 to change the weather by a small
degree. Clear skies could become cloudy; a light fog could become heavy.  Some example
progressions:

<p>
clear skies -&gt; cloudy -&gt; overcast and drizzle -&gt; heavy rain -&gt; storm

<p>
clear air -&gt; light fog -&gt; heavy fog

<p>
hot -&gt; warm -&gt; cool -&gt; cold -&gt; freezing

<p>
The mystic can hold weather in one state so long as she continues meditation and makes
the Intuition roll each hour.
</div>

<div class="trait">
<b> Sorcerer </b>
<p>
This gift grants power on the mental plane. Sorcerers can project thoughts and images
into the minds of others with their Intellect. This can be used to communicate, or the
sorcerer can ramp up the intensity to daze, delude, horrify, or torment other minds.

<p>
The sorcerer's power is entirely mental; it has no ability to affect the physical world,
and no effect on anything without a mind.

<p>
More on this in the chapter <b>Spells</b>.
</div>

<div class="trait">
<b> Starvision </b>

<p>
This allows one to see clearly at night, as if it were daylight.
This ability works even when the night is overcast.
Starvision does not allow a character to see in pitch blackness, however.
Deep caves and sealed rooms will be as dark to a character with starvision
as they are to everyone else.
</div>

