
<h2> Gifts </h2>

<div>
<p>
Gifts are special abilities possessed by few.

<p>
Below is a list of possible gifts. It is not exhaustive.
Players may feel free to invent their own gifts, which The Adversary may then
feel free to deny.  The Adversary may add or drop gifts from the list to make it
fit the game world.

<p>
Gifts should not give bonuses to traits except in particular circumstances.
They can help to negate penalties in their domain of function, however.
</div>

<div style="padding-top: 1em">
<table>
    <tr> <th> Gift          </th> <th> Cost       </th> </tr>
    <tr> <td> Mage          </td> <td> 25         </td> </tr>
    <tr> <td> Mystic        </td> <td> 25         </td> </tr>
    <tr> <td> Starvision    </td> <td> 10         </td> </tr>
    <tr> <td> Immunity      </td> <td> 10         </td> </tr>
    <tr> <td> Longevity     </td> <td> 10         </td> </tr>
</table>
</div>

<div class="trait">
<b> Mage </b> gives the character the ability to control the primal physical
forces of the world with his mind.  He can shape matter, energy, space, and
time with his Intellect. He can blast foes with fire or lightning from afar,
move things with telekinesis, and open holes in space.
</div>

<div class="trait">
<b> Mystic </b> gives power over life and death, fortune and fate, body, mind, and spirit.
Mystics can bless and heal others or assault their bodies and minds on a metaphysical level.
It grants some degree of empathy and telepathy.

<p>
A mystic may burn points of Fortune to heal wounds or shocks.
She must touch the subject and concentrate for one round, performing no other actions.
The subject loses one wound or shock per point of Fortune.

<p>
If the mystic is unable or unwilling to expend Fortune, she may still heal by sacrificing
her own health or sanity.  She may heal one wound for each wound inflicted on herself or
one shock for each shock inflicted.

<p>
A mystic may feel the emotions of nearby creatures with a successful Intuition check vs
the Defiance of the subject.  Touching the target gives a +3.

<p>
Telepathy is limited to sending words and images by looking into a target's eyes; the mystic cannot read minds.
</div>

<div class="trait">
<b> Starvision </b>
allows one to see clearly at night, as if it were daylight.
This ability works even when the night is overcast.
Starvision does not allow a character to see in pitch blackness, however.
Deep caves and sealed rooms will be as dark to a character with starvision
as they are to everyone else.
</div>

<div class="trait">
<b> Immunity </b>
makes one immune to sickness, disease, and biological poisons.
The character is still vulnerable to dangerous inorganic chemicals.
</div>

<div class="trait">
<b> Longevity </b>
means the character ages at a slower rate than normal human beings.
The rate is at the discretion of the player and The Adversary.
One could even be virtually immortal.
</div>

