
<div class="main-section">
    <h1 style="padding-bottom: 0; margin-bottom: 0; padding-top: 0; margin-top: 0;"> Ruins & Raiders </h1>
    a roleplaying game
    <br>
    v2.0
</div>

<div>
    <div class="main-section">
        <h2> 1. Introduction </h2>
        <div class="sub-section"><a href="overview.html">1.1 Overview </a></div>
        <div class="sub-section"><a href="quickref.html">1.2 Quick Reference </a></div>
    </div>
    <div class="main-section">
        <h2> 2. Adventurers </h2>
        <div class="sub-section"><a href="traits.html"> 2.1 Traits </a></div>
        <div class="sub-section"><a href="skills.html"> 2.2 Skills </a></div>
        <div class="sub-section"><a href="gifts.html"> 2.3 Gifts </a></div>
        <div class="sub-section"><a href="fortune.html"> 2.4 Fortune </a></div>
        <div class="sub-section"><a href="equipment.html"> 2.5 Equipment </a></div>
        <div class="sub-section"><a href="spells.html"> 2.6 Spells </a></div>
    </div>
    <div class="main-section">
        <h2> 3. Combat </h2>
        <div class="sub-section"><a href="conflict.html"> 3.1 Conflict </a></div>
        <div class="sub-section"><a href="swords.html"> 3.2 Swords, Slings, and Arrows </a></div>
        <div class="sub-section"><a href="sorcery.html"> 3.3 Casting Spells </a></div>
        <div class="sub-section"><a href="pain_and_suffering.html"> 3.4 Pain and Suffering </a></div>
    </div>
    <div class="main-section">
        <h2> 4. The World </h2>
        <div class="sub-section"><a href="ruins_of_1985.html">4.1 Ruins of 1985</a></div>
        <div class="sub-section"><a href="monsters_and_horrors.html"> 4.2 Monsters and Horrors </a></div>
        <div class="sub-section"><a href="archetypes.html"> 4.3 Adventurer Archetypes </a></div>
        <div class="sub-section"><a href="mage_spells.html"> 4.4 Example Mage Spells </a></div>
        <div class="sub-section"><a href="mystic_spells.html"> 4.5 Example Mystic Spells </a></div>
    </div>
</div>

