<!DOCTYPE html>
<html>

<head>
    <title> Ruins & Raiders </title>
    <link rel="stylesheet" type="text/css" href="../css/ruins.css" />
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>

<body>

<div class="bordered">
<div class="content">

{{{ content }}}

</div>
</div>

</body>
</html>
