<div>
   <h1> Mage Spells </h1>
</div>

<div>
Each spell costs a minimum amount of energy.
This base energy creates a spell with an intensity of 0, a range of 10 spaces, an area of 1 space, and a duration of 1 round.
The caster may add energy to the spell to increase any of the three, as described in the <b>Spells</b> chapter.
</div>

<div>
   <table>
      <tr> <th> Name </th> <th> Description </th> <th> Powers </th> <th> Base Energy </th> </tr>
<tr>
         <td> Cold Snap </td> 
         <td> Lowers the ambient temperature </td>
         <td> Alter </td>
         <td> 3 </td>
      </tr>

<tr>
         <td> Firewall </td> 
         <td> A wall of force and fire that damages all who touch it </td>
         <td> Barrier<br>Energy Blast </td>
         <td> 9 </td>
      </tr>

<tr>
         <td> Forcewall </td> 
         <td> A transparent wall of pure force </td>
         <td> Barrier </td>
         <td> 3 </td>
      </tr>

<tr>
         <td> Gateway </td> 
         <td> Opens a shimmering portal to somewhere else </td>
         <td> Portal </td>
         <td> 10 </td>
      </tr>

<tr>
         <td> Gate of Confusion </td> 
         <td> Opens a portal that disorients anyone who goes through it </td>
         <td> Disorient<br>Portal </td>
         <td> 16 </td>
      </tr>

<tr>
         <td> Hold Fast </td> 
         <td> Uses telekinesis to pin foes down </td>
         <td> Telekinesis </td>
         <td> 10 </td>
      </tr>

<tr>
         <td> Magic Bullet </td> 
         <td> A small iron sphere flies from the caster's hand, smites a target, and returns to the caster </td>
         <td> Impact Attack </td>
         <td> 3 </td>
      </tr>

<tr>
         <td> Meteor </td> 
         <td> Turns a rock into a flaming projectile </td>
         <td> Energy Blast<br>Impact Attack </td>
         <td> 9 </td>
      </tr>

<tr>
         <td> Shockwall </td> 
         <td> A barrier of lightning that damages and disorients those who come in contact </td>
         <td> Barrier<br>Disorient<br>Energy Blast </td>
         <td> 15 </td>
      </tr>

<tr>
         <td> Spark </td> 
         <td> Lightning flies from the mage's fingers </td>
         <td> Energy Blast </td>
         <td> 6 </td>
      </tr>

<tr>
         <td> Vortex </td> 
         <td> Creates a barrier of rotating wind filled with sharp rocks </td>
         <td> Barrier<br>Impact Attack </td>
         <td> 6 </td>
      </tr>

<tr>
         <td> Warm Glow </td> 
         <td> A small glowing sphere warms the room and lights the way </td>
         <td> Alter </td>
         <td> 3 </td>
      </tr>

<tr>
         <td> White Noise </td> 
         <td> The mage hits the subject with a blast of static </td>
         <td> Disorient </td>
         <td> 6 </td>
      </tr>
   </table>
</div>
