<div>
   <h1> Sorcerer Spells </h1>
</div>

<div>
Each spell costs a minimum amount of energy.
This base energy creates a spell with an intensity of 0, a range of 1 space, an area of 1 space, and a duration of 1 round.
The caster may add energy to the spell to increase any of the three, as described in the <b>Spells</b> chapter.
</div>

<div>
   <table>
      <tr> <th> Name </th> <th> Description </th> <th> Powers </th> <th> Base Energy </th> </tr>
<tr>
         <td> Gripping Fear </td> 
         <td> Causes fear so intense it does physical damage </td>
         <td> Horrify<br>Torment </td>
         <td> 12 </td>
      </tr>

<tr>
         <td> Hell Trip </td> 
         <td> Traps the victim on an infinite plain persued by legions of horrors </td>
         <td> Delude<br>Horrify </td>
         <td> 16 </td>
      </tr>

<tr>
         <td> Illusion </td> 
         <td> Traps the subject in a dream world </td>
         <td> Delude </td>
         <td> 10 </td>
      </tr>

<tr>
         <td> Message </td> 
         <td> Sends thoughts and images to the minds of others </td>
         <td> Telepathy </td>
         <td> 3 </td>
      </tr>

<tr>
         <td> Nightmare </td> 
         <td> The subject falls unconscious and has a terrible dream </td>
         <td> Daze<br>Horrify </td>
         <td> 16 </td>
      </tr>

<tr>
         <td> Phantom Attacker </td> 
         <td> Makes the subject believe they are being pounded on </td>
         <td> Delude<br>Torment </td>
         <td> 16 </td>
      </tr>

<tr>
         <td> Seizure </td> 
         <td> Gives the subject a seizure </td>
         <td> Daze<br>Torment </td>
         <td> 16 </td>
      </tr>

<tr>
         <td> Sleep </td> 
         <td> Time for a nap </td>
         <td> Daze </td>
         <td> 10 </td>
      </tr>

<tr>
         <td> Terror Vision </td> 
         <td> Attacks the subject's sanity with its worst fears </td>
         <td> Horrify </td>
         <td> 6 </td>
      </tr>

<tr>
         <td> Torturous Phantasm </td> 
         <td> The subject experiences being subjected to a torture chamber </td>
         <td> Delude<br>Horrify<br>Torment </td>
         <td> 22 </td>
      </tr>

<tr>
         <td> Writhing Pain </td> 
         <td> The subject's mind attacks its own body </td>
         <td> Torment </td>
         <td> 6 </td>
      </tr>
   </table>
</div>
