
<h2> Magic & Mysticism </h2>

<p>
This chapter describes the rules for casting spells.

<p>
<b> Requirements </b>

<p>
In order to use a spell against a person or object, the user must be
able to sense the subject in some way.  This usually means being able
to see or touch the target.

<p>
Casting a spell takes at least a full round.
The caster must stand relatively still (moving no more than 1 free space) and concentrate.
This does not affect his defense.

<p>
<b> Skill </b>

<p>
Supernatural ability is divided into two camps: the <b>Mage</b>, and the <b>Mystic</b>.
Magi rely on Intellect and cast spells affecting the physical world, while Mystics rely
on Intuition and weave spells involving nature and spirit.  Though the powers differ,
the mechanics are similar.

<p>
The spellcaster rolls his trait (Intellect or Intuition) to determine if a spell succeeds.
Spells cast at an unwilling target may be resisted.
Defiance is used to evade spells in the same way Dodge and Parry are used to evade physical attacks.
The target must be aware of the attack in order to defy it.

<p>
To make an offensive spell work, the caster must make a trait check: his Intellect/Intuition versus the Defiance of the target(s).
If successful, the mox of this roll is added to the intensity of the spell.
The caster makes only one roll, even if there are multiple targets.
Subjects are affected based on the mox of the initial roll once per round for the duration of the spell.
The mox may differ between targets.

<p>
<b> Power and Energy </b>

<p>
Every magic user has a power level that represents the base amount of supernatural
energy he can channel in a single round.  This is based on Willpower.
</p>

<div class="example">
Power = Willpower + 10
</div>

<p>
Every spell has an energy level.
To cast a spell, one must channel that amount of energy and make a Trait roll vs a challenge level based on the range.
If a spell is resisted by Defiance, the check is made against that number plus the range modifier.

<p>
One can cast spells of energy greater than their power level in a number of ways.

<p>
One point of Fortune is worth 1 point of energy.

<p>
A mage can sacrifice his health for power - 1 point of energy per wound inflicted on himself.

<p>
A mystic can sacrifice her sanity for power - 1 point of energy per shock inflicted on herself.

<p>
Either can cast spells beyond their power level by taking extra time.
Each +3 energy requires a doubling of the time required to cast the spell.
A concentrating spellcaster may do nothing else except move 1 space per round.

<table border="1" cellpadding="4">
    <tr><th> Rounds </th><th> +Power </th></tr>
    <tr align="center"><td>   1 </td><td>  0 </td></tr>
    <tr align="center"><td>   2 </td><td>  3 </td></tr>
    <tr align="center"><td>   3 </td><td>  5 </td></tr>
    <tr align="center"><td>   4 </td><td>  6 </td></tr>
    <tr align="center"><td>   5 </td><td>  7 </td></tr>
    <tr align="center"><td>   6 </td><td>  8 </td></tr>
    <tr align="center"><td>   8 </td><td>  9 </td></tr>
    <tr align="center"><td>  10 </td><td> 10 </td></tr>
</table>

<p>
It is possible for multiple magic-users to cooperate in the casting of a 
single spell.  One caster (generally the most powerful) acts as the
leader; he receives +3 to his power level for each doubling in the number
of followers - one follower gives +3, two followers gives +6, four followers
gives +9, etc.  Followers must possess the same form of supernatural ability
(Mage or Mystic) as the leader.

<p>
There may be objects or locations that give sorcerers a bonus to their power level.
The Adversary should be creative.

<p>
<b> Attacks </b>

<p>
The damage from an attack spell is based on its intensity.
Add the mox of the spell roll to this to get the damage.

<p>
Impact attacks subtract the victim's Protection from the damage.
The result is the number of wounds inflicted.

<p>
Energy blasts and Torment spells subtract the victim's Fortitude from the damage.
The result is the number of wounds inflicted.

<p>
Horrify subtracts the victim's Sanity from the damage.
The result is the number of shocks inflicted.

<p>
<b> Holds </b>

<p>
The power of a Disorient spell, a Telekinetic grapple, or Daze spell is based on its intensity.
If the spell roll is successful, the victim is held fast. For TK holds, this
makes the target immobile, incapable of and vulnerable to physical attacks, but
does not affect the target's Defiance or ability to cast spells.  For Daze spells,
the target is senseless and defenseless; he can do nothing except attempt to break
free.  Disoriented entities can move and act, but can't see or hear.

<p>
For telekinetic holds, the subject rolls his Brawn vs 7 + the intensity of the spell.
For Daze spells, the subject rolls Willpower.
For Disorient spells, the subject rolls Perception.

<p>
In each case, the victim can attempt to escape once per action (twice per round).
If the roll succeeds, the character is free and can act normally.
If it fails, that action is lost.

<p>
<b> Nullify </b>

<p>
Spellcasters may attempt to nullify hostile spells with their own.
The nullifier must concentrate for a full round and make a trait check versus the Defiance of the caster.
If successful, the nullifier must expend an amount of energy equal to the energy of the spell he wishes
to destroy.  This can be used in response to instantaneous spells if the caster has not used up his actions
for the round. 

<p>
Mages and Mystics can only nullify spells of their own kind.  

<p>
<b> Physical effects of spells </b>

<p>
The defense against direct supernatural attacks is always mental, but 
such attacks may have physical side effects that require physical 
defenses.  A ball of flame created by a blast spell could be evaded by the Defiance
of a character, yet turn the forest around that character
into a very physical inferno.  A telekinetic attack can be evaded by
Defiance - but if the attack were made against a nearby
boulder instead, the target would have to use Athlete.

<p>
Supernatural forces do not allow for fine control, however.  A physical 
phenomenon created as the result of a magical force cannot be aimed at 
a character with any sort of precision.  Most should be easier 
to avoid than a direct assault, having a challenge level of 9 or less
except in unfortunate circumstances (such as the caster using a hold spell
to drop a big rock down a well where a character is hiding).

<div class="example">

Nik the wise has a Willpower of 6.  He can cast a spell of energy 16 in one round.
If he wants to cast a spell of energy 19, he has options: he can burn 3 points of
Fortune, inflict 3 wounds (or shocks, if he's a Mystic) upon himself, make his
apprentice join him in a group ritual, or take an extra round to cast the spell.
An energy 22 spell would require 6 Fortune, 6 wounds, 6 shocks, two apprentices, or four rounds.

</div>

<div class="example">

<p>
Vunata, a Mage, has the initiative and wishes to make Juk and Tam suffer.
He has a Willpower of 6, giving him a Power level of 16.
He attacks with a fiery blast: intensity 13, area 2 (to hit both enemies), and duration 2 (he wants them to suffer longer).
This spell requires 19 energy, so Vunata burns 3 Fortune to cast it.

<p>
Vunata rolls a 9 and adds this to his Intellect (5) for a total of 14.  Juk has an
Intuition of 2, giving him a Defiance of 9 - the mox is 5, so the spell affects him with
an intensity of 18.  Tam has an Intellect of 8, giving her a Defiance of 15 - she is unaffected.

<p>
Juk subtracts his Fortitude (8) from the damage of the spell (18) to get 10.
This would cause 10 wounds, but Juk burns his last 10 points of Fortune to escape them.
The spell has a duration of 2, however, so Juk is affected again on the next round.
He takes 10 wounds.

</div>

<div class="example">

<p>
Alzeimer the Sane wants to open a gigantic portal to the plane of Uggae to bring horrors into the world.
The portal he has in mind will have 100 spaces in area (horrors are big) and last for over an hour (horrors are slow).
Adding the energy needed for an area 100 portal (30) to that needed for a duration of 1 hour (28) gives an energy of 58.

<p>
Alzeimer's Willpower is 6.  His base power level of 16 is not high enough to open this portal. At all.
To achieve his ridiculous dream, he recruits 4 apprentice mages to act as acolytes for his death cult.  This gives him +9 power during rituals.
He spends 10 rounds in a group ritual to open the portal, giving him +10 energy.
He burns his 20 Fortune for 20 more energy.
Last but not least, he inflicts 3 wounds on himself for +3.
His power level is now 58, enough to cast the spell.

</div>

