
<script src="../js/spellgen.js"></script>

<div class="main-section">
<form action="#">
    <div class="table">
        <div class="cell">
            <div class="name-block">
                <h1 style="padding-bottom: 0; margin-bottom: 0; padding-top: 0; margin-top: 0;"> Ruins & Raiders </h1>
                spell generator
            </div>
        </div>
    </div>

    <div class="table" style="padding-left: 1em">
        <div class="cell">
            <div>
                <div> Name </div>
                <input type="text" size="40">
            </div>

            <div>
                <div> Description </div>
                <textarea rows="4" cols="40"></textarea>
            </div>
        </div>
    </div>

    <div class="table">
        <div class="cell">
            <div style="margin: 1em;">
                <input name="magic_type" type="radio" value="mage" checked="checked"> <label for="magic-type"> Mage </label>
                <input name="magic_type" type="radio" value="sorcerer"> <label for="magic-type"> Sorcerer </label>
            </div>
            <table id="powers">
                <thead>
                   <tr>
                      <th> Power </th>
                      <th> Energy </th>
                   </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <table>
                <tr>
                    <th colspan="2"> Base Energy </th>
                    <td> <span id="base-energy"> 0 </span> </td>
                </tr>
                <tr>
                    <th> Intensity </th>
                    <td> <input type="text" class="num" id="intensity" value="0" size="3"> </td>
                    <td> <span id="intensity-energy"> 0 </span> </td>
                </tr>
                <tr>
                    <th> Range </th>
                    <td> <input type="text" class="num" id="range" value="1" size="3"> </td>
                    <td> <span id="range-energy"> 0 </span> </td>
                </tr>
                <tr>
                    <th> Area </th>
                    <td> <input type="text" class="num" id="area" value="1" size="3"> </td>
                    <td> <span id="area-energy"> 0 </span> </td>
                </tr>
                <tr>
                    <th> Duration </th>
                    <td> <input type="text" class="num" id="duration" value="1" size="3"> </td>
                    <td> <span id="duration-energy"> 0 </span> </td>
                </tr>
                <tr>
                    <th colspan="2"> Total Energy </th>
                    <td> <span id="total-energy"> 0 </span> </td>
                </tr>
            </table>
        </div>
    </div>
</form>
</div>

